.btn {
  background-color: var(--PalletteMaximumRed);
  position: relative;
  display: inline-block;
  width: 250px;
  padding: 5px;
  z-index: 5;
  font-size: 25px;
  margin: 0 auto;
  //color:#33cc99;
  text-decoration: none;
}

.recommendation {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-size: 5rem;
  text-align: center;
  line-height: 4.3rem;
  max-width: 70vw;

  .btnWrapper {
    display: flex;
    gap: 10vw;
  }

  .hover {

    i.material-icons {
      position: absolute;
      top: 14%;
      font-size: 20px;
      left: 3%;

    }

    p {
      position: relative;
      top: -50%;
      font-size: 20px;
    }
  }
}




