<div class="center-form mainSee">
  <app-skeleton *ngIf="loader" ></app-skeleton>
  <div class="recommendation" *ngIf="!isResult">
      <p>{{recommendationTree?.Question}}</p>
<!--    <p>didihehihe shkdhfdh bdsjodshosdf sdfofosdhofdhs sdfhodhohfsdo sdofdjojdsf dsohofhosdhofh sdhdfhod ?</p>-->

    <div class="btnWrapper">
      <span class="btn btnGlow" (click)="clickTrue()">TRUE</span>
      <span class="btn btnGlow" (click)="clickFalse()">FALSE</span>
    </div>
  </div>
  <div class="recommendation" *ngIf="isResult">
    <div class="listing-space mt-20 mb-5">
      <div class="listing__head">
        <h2 class="listing__title">Recommended Movies</h2>
      </div>

          <div class="listing-item-style" [routerLink]="['/movies/', recomendMovies.id]">
            <div class="overlay">
              <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
            </div>
            <img *ngIf="recomendMovies?.poster_path"
                 src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{recomendMovies?.poster_path}}">
            <img *ngIf="!recomendMovies?.poster_path" src="assets/images/default-movie.png">
            <h6>{{ recomendMovies?.title }}</h6>
            <p class="rate"><i class="material-icons">star</i><span>{{recomendMovies?.vote_average}}</span>
              /10</p>
            <div class="year"><span>{{recomendMovies?.release_date | date: 'yyyy'}}</span></div>
          </div>
    </div>
  </div>
</div>
