.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.loading .mat-spinner {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainView {
  min-height: calc(100vh  - 41px - 70px);//- 70px

}


@media (max-width: 1140px) {
  .mainView {
    position: relative;
    top: 70px;
  }
}

.all {
  display: flex;
  flex-direction: column;
}


