.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# IDEs and editors
/.idea
backend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# dependencies
/node_modules


# compiled output
/dist
/tmp
/out-tsc

/backend/PosterCache/
backend/__pycache__/CNNCategorisation.cpython-38.pyc
*.jpg
*.jpg
*.tmp
*.jpg
*.png
*.tmp
*.h5
*.csv
*.pyc
*.csv
