// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MyMovieFront-primary: mat.define-palette(mat.$indigo-palette);
$MyMovieFront-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MyMovieFront-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MyMovieFront-theme: mat.define-light-theme((
  color: (
    primary: $MyMovieFront-primary,
    accent: $MyMovieFront-accent,
    warn: $MyMovieFront-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MyMovieFront-theme);

/* You can add global styles to this file, and also import other style files */

@import '../src/assets/scss/bootstrap';
@import '../src/assets/scss/base';
@import '../src/assets/scss/helpers';
@import '../src/assets/scss/normalize';
@import '../src/assets/scss/forms';
@import '../src/assets/scss/transitions';


//Common Styles
@import '../src/assets/scss/hero';
@import '../src/assets/scss/listing';
@import '../src/assets/scss/overview';
@import '../src/assets/scss/videos';
@import '../src/assets/scss/image';


:root {
  //color palette
  --PalletteMaximumRed: #CF291D;
  --PalletteBrightGray: #474747;
  --PalletteArgent: #BFBFBF;
  --PalletteEerieBlack: #1D1D1D;
  --PalletteCadmiumPurple: #B50717;
  --PalletteChineseBlack: #131313;


  --paletteWhite: #fff;
  --paletteBlackBlue: #171c24;
  --paletteRed: #ff3d00;
  --paletteCarbone: #1e232b;
}

p, a, h1, h2, h3, h4, label {
  //  color: var(--PalletteArgent);
  color: var(--paletteWhite);
}

.center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  //width: 100%;
}

.center-form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.card-form {
  form {

    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      //max-width: 70%;
    }
  }

  margin-top: 25px;
  //@extend .center-form;
  //min-height: 90vh;
  background-color: var(--paletteWhite);
  border-radius: 10px;

  p, label {
    color: var(--PalletteCadmiumPurple);
  }

  h2 {
    color: var(--paletteCarbone);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.paybtn {
  text-align: center;
  background: #212121;
  padding-bottom: 20px;

  .PaymentButton-securedBy {
    display: none;
  }

  svg {
    display: none;
  }

  .PaymentButton {
    background: #dc4666 !important;
  }

  .PaymentButton-contents {
    padding: 10px 0px 10px 0px !important;

    .PaymentButton-text {
      color: #fff;
    }
  }
}
