.profileContainer {
  background-color: var(--paletteBlackBlue);
  //border-radius: 40px;
  border-radius: 40px 40px 0 0;
  padding-bottom: 70px;

  .mainProfile {
    margin-top: 10vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: var(--paletteBlackBlue);
    font-size: 3rem;

    img {
      position: relative;
      top: -60px;
      width: 150px;
      height: auto;
    }

    .parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 0px;
      //margin-top: 4vh;
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      font-weight: bold;
    }

    .div2 {
      grid-area: 2 / 1 / 3 / 2;
      font-weight: bold;
    }

    .div3 {
      grid-area: 2 / 2 / 3 / 3;
      color: var(--PalletteMaximumRed)
    }

    .div4 {
      grid-area: 1 / 2 / 2 / 3;
      color: var(--PalletteMaximumRed)

    }

    @media (max-width: 450px) {
      font-size: 2.5rem;
    }

  }

  .recommendation {

    //max-height: 10vh;


  }


  .centerText {
    text-align: center;
    width: 100%
  }
}
