<div class="profileContainer">
  <app-skeleton *ngIf="loader" ></app-skeleton>
  <div class="container-fluid mainProfile" *ngIf="user !==  undefined">
    <img [src]="user.photoURL" class="rounded-circle">
    <div class="parent">
      <p class="div1">Username: </p>
      <p class="div4">{{user.displayName}}</p>

      <p class="div2">Email address: </p>
      <p class="div3"> {{user.email}}</p>
    </div>

  </div>
  <div class="recommendation container-fluid" *ngIf="hasRecommendations && !loader">
    <div class="listing-space mt-20 mb-5">
      <div class="listing__head">
        <h2 class="listing__title centerText">Recommended Movies</h2>
      </div>
      <!--      <app-skeleton *ngIf="loader" ></app-skeleton>-->
      <!--      [numVisible]="maxVisible" [numScroll]="scrollvalue"-->
      <!--      <p-carousel [value]="recMovies"  [circular]="true"-->
      <!--                  [responsiveOptions]="responsiveOptions" style="height:50vh">-->
      <!--&lt;!&ndash;        *ngIf="!loader"&ndash;&gt;-->
      <!--        <ng-template let-movie  pTemplate="item" height="auto">-->
      <!--          <div class="listing-item-style" [routerLink]="['/movies/', movie.id]" >-->
      <!--            <div class="overlay">-->
      <!--              <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>-->
      <!--            </div>-->
      <!--            <img *ngIf="movie?.belongs_to_collection.poster_path"-->
      <!--                 src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.belongs_to_collection.poster_path}}">-->
      <!--            <img *ngIf="!movie?.belongs_to_collection.poster_path" src="assets/images/default-movie.png">-->
      <!--            <h6>{{ movie?.title }}</h6>-->
      <!--            <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>-->
      <!--            <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span>-->
      <!--            </p>-->
      <!--          </div>-->
      <!--        </ng-template>-->
      <!--      </p-carousel>-->


      <p-carousel [value]="recMovies" [numVisible]="6" [numScroll]="4" [circular]="true"
                  [responsiveOptions]="responsiveOptions" style=" width: 100%" class="recom">
        <ng-template let-movie pTemplate="item">
          <div class="listing-item-style" [routerLink]="['/movies/', movie.id]">
            <div class="overlay">
              <div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>
            </div>
            <img *ngIf="movie?.poster_path"
                 src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}">
            <img *ngIf="!movie?.poster_path" src="assets/images/default-movie.png">
            <h6>{{ movie?.title }}</h6>
            <p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>
            <p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span>
            </p>
          </div>
        </ng-template>
      </p-carousel>


    </div>
  </div>


</div>
