@import url(https://fonts.googleapis.com/css?family=opensans:500);


.c {
  text-align: center;
  //display: block;
  flex-direction: column;

  //display: flex;
  //justify-content: center;
  //align-items: center;
}

._404 {
  font-size: 150px;
  display: inline-block;
  z-index: 2;
  letter-spacing: 15px;
  height: 120px;
}

._1 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}

._2 {
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
  margin-bottom: 40px;
}

.text {
  font-size: 70px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 19px 0px 0px 0px;
  /* top: 256.301px; */
  z-index: 3;
  width: 100%;
  line-height: 1.2em;
  display: inline-block;
}


.btn {
  background-color: var(--PalletteMaximumRed);
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 5px;
  z-index: 5;
  font-size: 25px;
  margin: 0 auto;
  //color:#33cc99;
  text-decoration: none;
}

.right {
  float: right;
  width: 60%;
}

hr {
  padding: 0;
  border: none;
  border-top: 5px solid #fff;
  color: var(--PalletteMaximumRed);
  text-align: center;
  margin: 0px auto;
  width: 420px;
  height: 10px;
  //z-index: -10;
}

hr:after {
  content: "\2022";
  display: inline-block;
  position: relative;
  top: -0.5em;
  font-size: 2em;
  padding: 0 0.2em;
  background: var(--paletteBackgroundBlack);
}

.colorRed {
  color: var(--PalletteMaximumRed);
}
